README.md
.env*
Dockerfile
docker-compose.yml
.dockerignore
node_modules
build
.svelte-kit
.eslintignore
.eslintrc.cjs
.npmrc
.nvmrc
.prettierignore
.prettierrc
.lintstagedrc.json
.DS_Store
.git
.gitignore
.husky
docker