@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Global Styles */
@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		@apply bg-indigo-600 text-slate-100;
		font-family: 'Poppins', sans-serif;
	}

	/* Typography */
	h1 {
		@apply text-3xl font-bold md:text-4xl lg:text-5xl;
	}
	h2 {
		@apply text-2xl font-semibold md:text-3xl lg:text-4xl;
	}
	h3 {
		@apply text-xl md:text-2xl lg:text-3xl;
	}
	h4 {
		@apply text-lg md:text-xl lg:text-2xl;
	}
	h5 {
		@apply text-base md:text-lg lg:text-xl;
	}
	h6 {
		@apply text-sm md:text-base lg:text-lg;
	}
	p {
		@apply text-base text-slate-400 lg:text-lg;
	}
	.prose {
		@apply !text-slate-400;
	}
}

:root {
	/* Svoast */
	/* Spacing for the container and between each toast */
	--svoast-offset: 16px !important;
	--svoast-gap: 16px !important;
	/* The toast itself. */
	--svoast-bg: #1e1b4b !important;
	--svoast-text: #eef2ff !important;
	--svoast-padding: 15px 20px !important;
	--svoast-radius: 12px !important;
	--svoast-shadow: 0 2px 7px hsl(0 0% 0% / 0.25) !important;
	--svoast-font-size: 14px !important;
	--svoast-dismiss-gap: 8px !important;
	--svoast-max-width: unset !important;
	/* The current colour of the toast, depending on the type */
	--svoast-colour: '' !important;
	/* Colour for each type */
	--svoast-info-colour: #818cf8 !important;
	--svoast-attention-colour: #818cf8 !important;
	--svoast-success-colour: #22c55e !important;
	--svoast-warning-colour: #eab308 !important;
	--svoast-error-colour: #ef4444 !important;
	/* The coloured bar */
	--svoast-bar-width: 6px !important;
	/* Icons */
	--svoast-icon-padding: 4px !important;
}
