@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Global Styles */
@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		@apply bg-base-100 text-base-content;
		font-family: 'Poppins', sans-serif;
	}

	h1 {
		@apply text-3xl font-bold text-primary xl:text-4xl;
	}
	h2 {
		@apply text-2xl font-semibold xl:text-3xl;
	}
	h3 {
		@apply text-xl xl:text-2xl;
	}
	h4 {
		@apply text-lg xl:text-xl;
	}
	h5 {
		@apply text-base xl:text-xl;
	}
	h6 {
		@apply text-base xl:text-xl;
	}
	p {
		@apply text-base xl:text-lg;
	}
}

:root {
	/* Svoast */
	/* Spacing for the container and between each toast */
	--svoast-offset: 16px !important;
	--svoast-gap: 16px !important;
	/* The toast itself. */
	--svoast-bg: oklch(var(--b2)) !important;
	--svoast-text: oklch(var(--bc)) !important;
	--svoast-padding: 15px 20px !important;
	--svoast-radius: 12px !important;
	--svoast-shadow: 0 2px 7px hsl(0 0% 0% / 0.25) !important;
	--svoast-font-size: 14px !important;
	--svoast-dismiss-gap: 8px !important;
	--svoast-max-width: unset !important;
	/* The current colour of the toast, depending on the type */
	--svoast-colour: '' !important;
	/* Colour for each type */
	--svoast-info-colour: oklch(var(--in)) !important;
	--svoast-attention-colour: oklch(var(--p)) !important;
	--svoast-success-colour: oklch(var(--su)) !important;
	--svoast-warning-colour: oklch(var(--wa)) !important;
	--svoast-error-colour: oklch(var(--er)) !important;
	/* The coloured bar */
	--svoast-bar-width: 6px !important;
	/* Icons */
	--svoast-icon-padding: 4px !important;
}
